.selected-item {
  position: absolute;
  z-index: 100;
  width: 573px;
  background-color: lighten($brand-primary, 5%) !important;
  font-size: 14px;
  border: 2px solid #6dc274;
  border-radius: 4px;
  padding: 4px;
  padding-bottom: 0px;
  animation: move-select-city 0.5s ease-in-out forwards;

  .result-data {
    padding: 4px 10px;
    color: $panel-primary-text;
  }

  @include result-flag();
  @include result-data(darken($panel-primary-text, 8%));

  .close {
    fill: $placeholder-color;
    height: 16px;
    width: 16px;
    padding: 11px 7px;
    cursor: pointer;
    float: right;

    &:hover {
      color: $navbar-inverse-link-hover-color;
    }
  }
}

@keyframes move-select-city {
  to {
    top: 0;
  }
}
