.selected-item {
  position: absolute;
  left: 0;
  right: $right-position;
  margin-top: -5px;
  top: 0;
  z-index: 100;
  background-color: lighten($brand-primary, 5%) !important;
  font-size: 14px;
  animation: move-select-city 0.5s ease-in-out forwards;

  .panel-body {
    padding: 2px 10px;
    color: $panel-primary-text;
  }

  @include result-flag();
  @include result-data(darken($panel-primary-text, 8%));

  .close {
    margin-top: 12px;
    color: $placeholder-color;
    font-size: 20px;
    line-height: 1;

    &:hover {
      color: $navbar-inverse-link-hover-color;
    }
  }
}
