$brand-primary: white;
$navbar-inverse-link-hover-color: black;
$panel-primary-text: black;
$text-color: black;
$panel-bg: blue;
$panel-primary-heading-bg: rgb(108, 108, 219);
$panel-warning-heading-bg: rgb(151, 151, 83);
$panel-warning-text: yellow;
$panel-info-heading-bg: rgb(80, 117, 80);
$panel-info-text: green;
$panel-danger-heading-bg: rgb(168, 94, 94);
$panel-danger-text: red;
$left-position: 210px;
$left-position-sm: 10px;
$month-selector-width: 100px;
$right-position: $month-selector-width + 40px;
$right-position-sm: $month-selector-width + 17px;

$results-animation-speed: .3s;
$results-animation-shift: 5px;

$search-shift-animation-speed: 0.7s;
$search-header-height: 50px;
$search-landing-height: 100vh;
