.data-placeholder-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-placeholder {
  position: sticky;
  left: calc(30vw - 66px);
  right: calc(30vw - 66px);
  padding: 0 20vw;
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-placeholder-icon {
  display: block;
  margin: 7px auto;
  height: 35px;
  width: 35px;
}

.data-placeholder-text {
  color: grey;
  font-size: 12px;
}

.app-main-placeholder .data-placeholder-text {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
