$items-width: 60px;
$items-height: 100px;

.workspace-wrap {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.workspace-wrap__scrollable {
  cursor: move;
}

.header {
  position: sticky;
  top: 58px;
  background-color: rgb(240, 243, 232);
  padding: 0 51px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 20px;

  .header-month {
    height: 20px;
    display: inline-block;
    border-right: 2px rgb(56, 51, 52) solid;
    &:last-child {
      border-right: none;
    }
  }

  .header-month-title {
    display: inline-block;
    position: sticky;
    left: 0;
    right: 0;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(240, 243, 232);
  }

  .header-month-title:first-child {
    float: left;
    margin-left: 25%;
  }

  .header-month-title:last-child {
    float: right;
    margin-right: 25%;
  }
}

.header-month__31 {
  width: 31 * $items-width;
}

.header-month__30 {
  width: 30 * $items-width;
}

.header-month__29 {
  width: 29 * $items-width;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: rgb(240, 243, 232);
  padding: 0 51px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);

  .footer-month {
    display: inline-block;
    border-right: 2px rgb(56, 51, 52) solid;
    &:last-child {
      border-right: none;
    }
  }
  .footer-month-day {
    display: inline-block;
    width: $items-width;
    text-align: center;
  }
}

.data {
  display: flex;
  width: $items-width * 367 + 50 * 2 - 12 * 2 - 2;
}

.data-month {
  height: 100%;
  border-right: 2px rgb(56, 51, 52) solid;
}

.data-month__placeholder {
  height: auto;
}

.data-year {
  &:last-child .data-day {
    border-bottom: none;
  }
}

.data-day {
  display: inline-block;
  height: $items-height;
  width: $items-width - 1;
  text-align: center;
  border-right: 1px rgb(167, 167, 167) solid;
  border-bottom: 1px rgb(167, 167, 167) solid;

  &:last-child {
    border-right: none;
    width: $items-width;
  }
}

.border-year {
  height: $items-height;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px rgb(56, 51, 52) solid;
  &:last-child {
    border-bottom: none;
  }
}

.border1 {
  z-index: 10;
  position: sticky;
  float: left;
  top: 0;
  left: 0;
  width: 50px;
  background-color: rgb(240, 243, 232);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.border2 {
  z-index: 10;
  position: sticky;
  float: right;
  top: 0;
  right: 0;
  width: 50px;
  background-color: rgb(240, 243, 232);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
