{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:promise/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "object-curly-newline": 0,
    "strict": [
      "error",
      "safe"
    ],
    "import/prefer-default-export": 0,
    "jsdoc/check-param-names": 2,
    "jsdoc/check-tag-names": 2,
    "jsdoc/check-types": 2,
    "jsdoc/newline-after-description": 2,
    "jsdoc/require-hyphen-before-param-description": 2,
    "jsdoc/require-param": 2,
    "jsdoc/require-param-name": 2,
    "jsdoc/require-param-type": 2,
    "jsdoc/require-returns-type": 2,
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": true,
          "FunctionExpression": true
        }
      }
    ],
    "mocha/handle-done-callback": "error",
    "mocha/max-top-level-suites": "error",
    "mocha/no-exclusive-tests": "error",
    "mocha/no-global-tests": "error",
    "mocha/no-identical-title": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-pending-tests": "error",
    "mocha/no-return-and-callback": "error",
    "mocha/no-setup-in-describe": "error",
    "mocha/no-skipped-tests": "error",
    "mocha/no-top-level-hooks": "error",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  },
  "plugins": [
    "jsdoc",
    "promise",
    "mocha",
    "prettier"
  ]
}
