html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.icon-rotate {
  animation: 7s rotate linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
