.workspace-data {
  display: flex;
  width: $items-width * 367 + 50 * 2 - 12 * 2 - 2;
}

.data-month {
  border-right: 2px $border-dark solid;
}

.data-month__placeholder {
  height: auto;
}

.data-year {
  &:last-child .data-day {
    border-bottom: none;
  }
}

.data-day {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: $items-height - 3;
  width: $items-width - 1;
  border-right: 1px $border-cell solid;
  border-bottom: 1px $border-cell solid;
  align-items: center;
  justify-content: flex-end;
  color: #646464;
  font-size: 14px;
  padding-bottom: 3px;

  &:last-child {
    border-right: none;
    width: $items-width;
  }
}

.data-day-placeholder {
  width: 80%;
  height: 80%;
}

.data-day-icon {
  width: auto;
}

.data-day-icon-empty {
  height: 58px;
  width: auto;
}

.data-year__temp .data-day-icon {
  height: 70px;
}

.data-year__cloud .data-day-icon {
  height: 74px;
}

.data-year__temp .data-day {
  font-size: 14px;
}

.data-year__cloud .data-day {
  font-size: 12px;
}
