.side {
  position: sticky;
  top: 0; 
  z-index: 10;
  width: var(--side-width);
  background-color: $white-bg;
  border-right: $border-sides;
  border-left: $border-sides;
}

.side__left {
  float: left;
  border-left: none;
  left: 0;
}

.side__right {
  float: right;
  border-right: none;
  right: 0;
}

.side-year-item {
  display: flex;
  height: $items-height;
  align-items: center;
  justify-content: center;
  border-bottom: 1px $border-dark solid;

  &:last-child {
    border-bottom: none;
  }
}

@media (max-width: 769px) {
  .side__right {
    display: none;
  }

  .side-year-item-part__hide-xs {
    display: none;
  }
}
